{% extends "webapp/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1>Case completed</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <div class="list-group">
                {% for case in casessf %}
                    <a href="{% url 'viewcase' case.caseIDSf %}" class="list-group-item list-group-item-action{% if not case.aicorrect %} list-group-item-danger{% endif %}"><b>{{ case.caseNumber }}</b> - Completed {{ case.datecompleted|date:'M j Y H:i' }} - By: {{ case.completedBy }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}