{% extends "webapp/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
                 <h1>SummitAI</h1>
            {% load static %}
            <img src="{% static 'webapp/ai.png' %}">
            <br /><br />

             {% if user.is_authenticated %}
                {% else %}
            <h3>Please login in order to access SummitAI application</h3>

             <a role="button" class="btn btn-primary btn-lg" href="{% url 'loginuser' %}">Login</a>
            <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Register</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
